:root {
  /* indicate support for browser system preference */
  color-scheme: light dark;

  /* light */
  --ok-api-primary-a0: rgb(240, 241, 242);
  --ok-api-primary-a10: color-mix(in srgb, white 10%, var(--ok-api-primary-a0));
  --ok-api-primary-a20: color-mix(in srgb, white 20%, var(--ok-api-primary-a0));
  --ok-api-primary-a30: color-mix(in srgb, white 30%, var(--ok-api-primary-a0));
  --ok-api-primary-a40: color-mix(in srgb, white 40%, var(--ok-api-primary-a0));
  --ok-api-primary-a50: color-mix(in srgb, white 50%, var(--ok-api-primary-a0));

  --ok-api-surface-a0: #fff;
  --ok-api-primary-a10: color-mix(in srgb, white 10%, var(--ok-api-primary-a0));
  --ok-api-primary-a20: color-mix(in srgb, white 20%, var(--ok-api-primary-a0));
  --ok-api-primary-a30: color-mix(in srgb, white 30%, var(--ok-api-primary-a0));
  --ok-api-primary-a40: color-mix(in srgb, white 40%, var(--ok-api-primary-a0));
  --ok-api-primary-a50: color-mix(in srgb, white 50%, var(--ok-api-primary-a0));

  --ok-api-success-a0: rgb(125 255 149);
  --ok-api-success-a10: color-mix(in srgb, white 10%, var(--ok-api-success-a0));
  --ok-api-success-a20: color-mix(in srgb, white 20%, var(--ok-api-success-a0));

  --ok-api-warning-a0: rgb(255 188 94);
  --ok-api-warning-a10: color-mix(in srgb, white 10%, var(--ok-api-warning-a0));
  --ok-api-warning-a20: color-mix(in srgb, white 20%, var(--ok-api-warning-a0));

  --ok-api-danger-a0: rgb(255 128 128);
  --ok-api-danger-a10: color-mix(in srgb, white 10%, var(--ok-api-danger-a0));
  --ok-api-danger-a20: color-mix(in srgb, white 20%, var(--ok-api-danger-a0));

  --ok-api-info-a0: rgb(135 209 255);
  --ok-api-info-a10: color-mix(in srgb, white 10%, var(--ok-api-info-a0));
  --ok-api-info-a20: color-mix(in srgb, white 20%, var(--ok-api-info-a0));

  --ok-api-text: rgb(0, 0, 0);

  --ok-api-color-divider: rgba(94,94,94);
  --ok-api-toolbar-background-color: rgba(60,60,60);
  --ok-api-base-container: rgba(40,40,40);
  --ok-api-color-on-surface: rgba(199,199,199);
  --ok-api-sys-color-primary: rgba(168,199,250);
  --ok-api-state-hover: rgba(253, 252, 251, 0.1);
}

/* dark theme override via system preference */
@media (prefers-color-scheme: dark) {
  :root {
    /* dark */
    --ok-api-primary-a0: rgba(60, 60, 60);
    --ok-api-primary-a10: color-mix(in srgb, white 10%, var(--ok-api-primary-a0));
    --ok-api-primary-a20: color-mix(in srgb, white 20%, var(--ok-api-primary-a0));
    --ok-api-primary-a30: color-mix(in srgb, white 30%, var(--ok-api-primary-a0));
    --ok-api-primary-a40: color-mix(in srgb, white 40%, var(--ok-api-primary-a0));
    --ok-api-primary-a50: color-mix(in srgb, white 50%, var(--ok-api-primary-a0));
    
    --ok-api-surface-a0: rgba(40, 40, 40);
    --ok-api-surface-a10: color-mix(in srgb, white 10%, var(--ok-api-surface-a0));
    --ok-api-surface-a20: color-mix(in srgb, white 20%, var(--ok-api-surface-a0));
    --ok-api-surface-a30: color-mix(in srgb, white 30%, var(--ok-api-surface-a0));
    --ok-api-surface-a40: color-mix(in srgb, white 40%, var(--ok-api-surface-a0));
    --ok-api-surface-a50: color-mix(in srgb, white 50%, var(--ok-api-surface-a0));

    --ok-api-success-a0: rgb(125 255 149);
    --ok-api-success-a10: color-mix(in srgb, white 10%, var(--ok-api-success-a0));
    --ok-api-success-a20: color-mix(in srgb, white 20%, var(--ok-api-success-a0));

    --ok-api-warning-a0: rgb(255 188 94);
    --ok-api-warning-a10: color-mix(in srgb, white 10%, var(--ok-api-warning-a0));
    --ok-api-warning-a20: color-mix(in srgb, white 20%, var(--ok-api-warning-a0));

    --ok-api-danger-a0: rgb(255 128 128);
    --ok-api-danger-a10: color-mix(in srgb, white 10%, var(--ok-api-danger-a0));
    --ok-api-danger-a20: color-mix(in srgb, white 20%, var(--ok-api-danger-a0));

    --ok-api-info-a0: rgb(135 209 255);
    --ok-api-info-a10: color-mix(in srgb, white 10%, var(--ok-api-info-a0));
    --ok-api-info-a20: color-mix(in srgb, white 20%, var(--ok-api-info-a0));

    --ok-api-focus: rgb(171 198 248);
    --ok-api-text: rgb(199 199 199);

    --ok-api-color-divider: rgba(94,94,94);
    --ok-api-toolbar-background-color: rgba(60,60,60);
    --ok-api-base-container: rgba(40,40,40);
    --ok-api-color-on-surface: rgba(199,199,199);
    --ok-api-sys-color-primary: rgba(168,199,250);
    --ok-api-state-hover: rgba(253, 252, 251, 0.1);
  }
}

/* dark theme manual override via html attribute */
:root[data-theme="dark"] {
  /* dark */
  --ok-api-primary-a0: rgba(60, 60, 60);
  --ok-api-primary-a10: color-mix(in srgb, white 10%, var(--ok-api-primary-a0));
  --ok-api-primary-a20: color-mix(in srgb, white 20%, var(--ok-api-primary-a0));
  --ok-api-primary-a30: color-mix(in srgb, white 30%, var(--ok-api-primary-a0));
  --ok-api-primary-a40: color-mix(in srgb, white 40%, var(--ok-api-primary-a0));
  --ok-api-primary-a50: color-mix(in srgb, white 50%, var(--ok-api-primary-a0));
  
  --ok-api-surface-a0: rgba(40, 40, 40);
  --ok-api-surface-a10: color-mix(in srgb, white 10%, var(--ok-api-surface-a0));
  --ok-api-surface-a20: color-mix(in srgb, white 20%, var(--ok-api-surface-a0));
  --ok-api-surface-a30: color-mix(in srgb, white 30%, var(--ok-api-surface-a0));
  --ok-api-surface-a40: color-mix(in srgb, white 40%, var(--ok-api-surface-a0));
  --ok-api-surface-a50: color-mix(in srgb, white 50%, var(--ok-api-surface-a0));

  --ok-api-success-a0: rgb(125 255 149);
  --ok-api-success-a10: color-mix(in srgb, white 10%, var(--ok-api-success-a0));
  --ok-api-success-a20: color-mix(in srgb, white 20%, var(--ok-api-success-a0));

  --ok-api-warning-a0: rgb(255 188 94);
  --ok-api-warning-a10: color-mix(in srgb, white 10%, var(--ok-api-warning-a0));
  --ok-api-warning-a20: color-mix(in srgb, white 20%, var(--ok-api-warning-a0));

  --ok-api-danger-a0: rgb(255 128 128);
  --ok-api-danger-a10: color-mix(in srgb, white 10%, var(--ok-api-danger-a0));
  --ok-api-danger-a20: color-mix(in srgb, white 20%, var(--ok-api-danger-a0));

  --ok-api-info-a0: rgb(135 209 255);
  --ok-api-info-a10: color-mix(in srgb, white 10%, var(--ok-api-info-a0));
  --ok-api-info-a20: color-mix(in srgb, white 20%, var(--ok-api-info-a0));

  --ok-api-focus: rgb(171 198 248);
  --ok-api-text: rgb(199 199 199);

  --ok-api-color-divider: rgba(94,94,94);
  --ok-api-toolbar-background-color: rgba(60,60,60);
  --ok-api-base-container: rgba(40,40,40);
  --ok-api-color-on-surface: rgba(199,199,199);
  --ok-api-sys-color-primary: rgba(168,199,250);
  --ok-api-state-hover: rgba(253, 252, 251, 0.1);
}

/* light theme manual override via html attribute */
:root[data-theme="light"] {
  /* light */
  --ok-api-primary-a0: rgb(240, 241, 242);
  --ok-api-primary-a10: color-mix(in srgb, white 10%, var(--ok-api-primary-a0));
  --ok-api-primary-a20: color-mix(in srgb, white 20%, var(--ok-api-primary-a0));
  --ok-api-primary-a30: color-mix(in srgb, white 30%, var(--ok-api-primary-a0));
  --ok-api-primary-a40: color-mix(in srgb, white 40%, var(--ok-api-primary-a0));
  --ok-api-primary-a50: color-mix(in srgb, white 50%, var(--ok-api-primary-a0));

  --ok-api-surface-a0: #fff;
  --ok-api-primary-a10: color-mix(in srgb, white 10%, var(--ok-api-primary-a0));
  --ok-api-primary-a20: color-mix(in srgb, white 20%, var(--ok-api-primary-a0));
  --ok-api-primary-a30: color-mix(in srgb, white 30%, var(--ok-api-primary-a0));
  --ok-api-primary-a40: color-mix(in srgb, white 40%, var(--ok-api-primary-a0));
  --ok-api-primary-a50: color-mix(in srgb, white 50%, var(--ok-api-primary-a0));

  --ok-api-success-a0: rgb(125 255 149);
  --ok-api-success-a10: color-mix(in srgb, white 10%, var(--ok-api-success-a0));
  --ok-api-success-a20: color-mix(in srgb, white 20%, var(--ok-api-success-a0));

  --ok-api-warning-a0: rgb(255 188 94);
  --ok-api-warning-a10: color-mix(in srgb, white 10%, var(--ok-api-warning-a0));
  --ok-api-warning-a20: color-mix(in srgb, white 20%, var(--ok-api-warning-a0));

  --ok-api-danger-a0: rgb(255 128 128);
  --ok-api-danger-a10: color-mix(in srgb, white 10%, var(--ok-api-danger-a0));
  --ok-api-danger-a20: color-mix(in srgb, white 20%, var(--ok-api-danger-a0));

  --ok-api-info-a0: rgb(135 209 255);
  --ok-api-info-a10: color-mix(in srgb, white 10%, var(--ok-api-info-a0));
  --ok-api-info-a20: color-mix(in srgb, white 20%, var(--ok-api-info-a0));

  --ok-api-text: rgb(0, 0, 0);

  --ok-api-color-divider: rgba(94,94,94);
  --ok-api-toolbar-background-color: rgba(60,60,60);
  --ok-api-base-container: rgba(40,40,40);
  --ok-api-color-on-surface: rgba(199,199,199);
  --ok-api-sys-color-primary: rgba(168,199,250);
  --ok-api-state-hover: rgba(253, 252, 251, 0.1);
}

* {
  color: var(--ok-api-text);
  font-family: monospace;
  font-size: 12px;
}

:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}

select {
  appearance: none;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--ok-api-surface-a30);
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

select:focus,
select:focus-visible,
select:focus + .arrow::after,
select:focus-visible + .arrow::after {
  outline: none;
  box-shadow: none;
  border-color: var(--ok-api-focus);
}

.select-wrapper {
  position: relative;
  margin-bottom: 0.75rem;
}

.select-wrapper > .arrow::after {
  content: "";
  position: absolute;
  right: 15px;
  top: 30%;
  width: 8px;
  height: 8px;
  border-right: 2px solid var(--ok-api-surface-a30);
  border-bottom: 2px solid var(--ok-api-surface-a30);
  transform: rotate(45deg);
  pointer-events: none;
}
