:root {
    /* indicate support for browser system preference */
    color-scheme: light dark;

    /* light */
    --okapi-primary-a0: #0711c6;
    --okapi-primary-a10: #050dac;
    --okapi-primary-a20: #040992;
    --okapi-primary-a30: #02067a;
    --okapi-primary-a40: #020462;
    --okapi-primary-a50: #01024b;

    --okapi-surface-a0: #fff;
    --okapi-surface-a10: #f2f2f2;
    --okapi-surface-a20: #e4e4e4;
    --okapi-surface-a30: #d7d7d7;
    --okapi-surface-a40: #cacaca;
    --okapi-surface-a50: #bdbdbd;

    --okapi-surface-tonal-a0: #e2ebfc;
    --okapi-surface-tonal-a10: #d8e0ef;
    --okapi-surface-tonal-a20: #ced5e2;
    --okapi-surface-tonal-a30: #c4cad5;
    --okapi-surface-tonal-a40: #babfc9;
    --okapi-surface-tonal-a50: #b0b4bc;

    --okapi-success-a0: #4aff6b;
    --okapi-success-a10: #74ff86;
    --okapi-success-a20: #94ff9d;

    --okapi-warning-a0: #ffac38;
    --okapi-warning-a10: #ffb961;
    --okapi-warning-a20: #ffc681;

    --okapi-danger-a0: #ff6161;
    --okapi-danger-a10: #ff7c79;
    --okapi-danger-a20: #ff9590;

    --okapi-info-a0: #61c2ff;
    --okapi-info-a10: #7dccff;
    --okapi-info-a20: #96d5ff;

    --okapi-text: #000000;
}

/* dark theme override via system preference */
@media (prefers-color-scheme: dark) {
    :root {
        /* dark */
        --okapi-primary-a0: #023ae9;
        --okapi-primary-a10: #1c56ee;
        --okapi-primary-a20: #356df2;
        --okapi-primary-a30: #4e81f6;
        --okapi-primary-a40: #6695f9;
        --okapi-primary-a50: #7fa7fb;

        --okapi-surface-a0: #121212;
        --okapi-surface-a10: #252525;
        --okapi-surface-a20: #393939;
        --okapi-surface-a30: #4f4f4f;
        --okapi-surface-a40: #666;
        --okapi-surface-a50: #7d7d7d;

        --okapi-surface-tonal-a0: #121e38;
        --okapi-surface-tonal-a10: #25314a;
        --okapi-surface-tonal-a20: #3a455c;
        --okapi-surface-tonal-a30: #505a6f;
        --okapi-surface-tonal-a40: #667083;
        --okapi-surface-tonal-a50: #7e8697;

        --okapi-success-a0: #7dff95;
        --okapi-success-a10: #9dffac;
        --okapi-success-a20: #b8ffc1;

        --okapi-warning-a0: #ffbc5e;
        --okapi-warning-a10: #ffca83;
        --okapi-warning-a20: #ffd8a4;

        --okapi-danger-a0: #ff8080;
        --okapi-danger-a10: #ff9b99;
        --okapi-danger-a20: #ffb5b2;

        --okapi-info-a0: #87d1ff;
        --okapi-info-a10: #a1dbff;
        --okapi-info-a20: #b9e4ff;

        --okapi-text: #ffffff;
    }
}

/* dark theme manual override via html attribute */
:root[data-theme="dark"] {
    /* dark */
    --okapi-primary-a0: #023ae9;
    --okapi-primary-a10: #1c56ee;
    --okapi-primary-a20: #356df2;
    --okapi-primary-a30: #4e81f6;
    --okapi-primary-a40: #6695f9;
    --okapi-primary-a50: #7fa7fb;

    --okapi-surface-a0: #121212;
    --okapi-surface-a10: #252525;
    --okapi-surface-a20: #393939;
    --okapi-surface-a30: #4f4f4f;
    --okapi-surface-a40: #666;
    --okapi-surface-a50: #7d7d7d;

    --okapi-surface-tonal-a0: #121e38;
    --okapi-surface-tonal-a10: #25314a;
    --okapi-surface-tonal-a20: #3a455c;
    --okapi-surface-tonal-a30: #505a6f;
    --okapi-surface-tonal-a40: #667083;
    --okapi-surface-tonal-a50: #7e8697;

    --okapi-success-a0: #7dff95;
    --okapi-success-a10: #9dffac;
    --okapi-success-a20: #b8ffc1;

    --okapi-warning-a0: #ffbc5e;
    --okapi-warning-a10: #ffca83;
    --okapi-warning-a20: #ffd8a4;

    --okapi-danger-a0: #ff8080;
    --okapi-danger-a10: #ff9b99;
    --okapi-danger-a20: #ffb5b2;

    --okapi-info-a0: #87d1ff;
    --okapi-info-a10: #a1dbff;
    --okapi-info-a20: #b9e4ff;

    --okapi-text: #ffffff;
}

/* light theme manual override via html attribute */
:root[data-theme="light"] {
    /* light */
    --okapi-primary-a0: #0711c6;
    --okapi-primary-a10: #050dac;
    --okapi-primary-a20: #040992;
    --okapi-primary-a30: #02067a;
    --okapi-primary-a40: #020462;
    --okapi-primary-a50: #01024b;

    --okapi-surface-a0: #fff;
    --okapi-surface-a10: #f2f2f2;
    --okapi-surface-a20: #e4e4e4;
    --okapi-surface-a30: #d7d7d7;
    --okapi-surface-a40: #cacaca;
    --okapi-surface-a50: #bdbdbd;

    --okapi-surface-tonal-a0: #e2ebfc;
    --okapi-surface-tonal-a10: #d8e0ef;
    --okapi-surface-tonal-a20: #ced5e2;
    --okapi-surface-tonal-a30: #c4cad5;
    --okapi-surface-tonal-a40: #babfc9;
    --okapi-surface-tonal-a50: #b0b4bc;

    --okapi-success-a0: #4aff6b;
    --okapi-success-a10: #74ff86;
    --okapi-success-a20: #94ff9d;

    --okapi-warning-a0: #ffac38;
    --okapi-warning-a10: #ffb961;
    --okapi-warning-a20: #ffc681;

    --okapi-danger-a0: #ff6161;
    --okapi-danger-a10: #ff7c79;
    --okapi-danger-a20: #ff9590;

    --okapi-info-a0: #61c2ff;
    --okapi-info-a10: #7dccff;
    --okapi-info-a20: #96d5ff;
    
    --okapi-text: #000000;
}


* {
    color: var(--okapi-text);
    background-color: var(--okapi-surface-a0);
    font-family: monospace;
    font-size: 1rem;
}


fieldset {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
}

label {
  margin-bottom: 0.25rem;
}

input {
  margin-bottom: 0.75rem;
  width: 100%;
  transition: border-color 0.2s, box-shadow 0.2s;
  background: transparent;
  border-radius: 0.25rem;
  border: 2px solid var(--okapi-surface-a30);
}

input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--okapi-surface-a30);
  border-radius: 4px;
  cursor: pointer;
  display: inline-grid;
  place-content: center;
  margin-right: 1rem;
}

select {
  appearance: none;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--okapi-surface-a30);
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 0.75rem;
}

select::-ms-expand {
  display: none;
}

input:focus,
select:focus,
select:focus-visible,
select:focus + .arrow::after,
select:focus-visible + .arrow::after {
  outline: none;
  box-shadow: none;
  border-color: var(--okapi-primary-a20);
}

input[type="checkbox"]:focus-visible {
outline: 1px solid var(--okapi-primary-a20) !important;
}

.checkbox-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

.select-wrapper {
  position: relative;
}

.select-wrapper > .arrow::after {
  content: "";
  position: absolute;
  right: 15px;
  top: 30%;
  width: 8px;
  height: 8px;
  border-right: 2px solid var(--okapi-surface-a30);
  border-bottom: 2px solid var(--okapi-surface-a30);
  transform: rotate(45deg);
  pointer-events: none;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65rem;
  height: 0.65rem;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: CanvasText;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked {
  background-color: var(--okapi-primary-a20);
  border-color: var(--okapi-primary-a20);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus-visible {
  outline: 3px solid var(--okapi-primary-a20);
  outline-offset: 2px;
}