[data-scope='menu'][data-part='content'] {
    margin: 0;
    width: 124px;
    background-color: var(--color-primary-bg);
    border-radius: 8px;
    padding: 4px;
    border: 1px solid var(--color-primary-border);
}

[data-scope='menu'][data-part='item'],
[data-scope='menu'][data-part='trigger-item'],
[data-scope='menu'][data-part='option-item'] {
    all: unset;
    font-size: 12px;
    line-height: 1;
    color: var(--color-primary-text);
    display: flex;
    align-items: center;
    gap: 4px;
    height: 24px;
    position: relative;
    user-select: none;
    border-radius: 4px;
    padding: 0px 4px;
    cursor: pointer;
}

[data-scope='menu'][data-part='item'][data-highlighted],
[data-scope='menu'][data-part='trigger-item'][data-highlighted],
[data-scope='menu'][data-part='option-item'][data-highlighted] {
    /* #c2c2c2 */
    background: rgba(194, 194, 194, 0.4);
}