.tool-toolbar {
  flex-shrink: 0;
  overflow: hidden;
  position: sticky;
  top: 0;
  background-color: var(--ok-api-base-container);
  z-index: 2;
}

.tool-toolbar-contents {
  border-bottom: 1px solid var(--ok-api-color-divider);
  display: flex;
  flex-direction: row !important;
  position: relative;
}

.tool-toolbar-tools {
  white-space: nowrap;
  height: 26px;
}

.tool-toolbar-tools > * {
  position: relative;
  display: flex;
  background-color: transparent;
  flex: none;
  align-items: center;
  justify-content: center;
  height: 26px;
  border: none;
  white-space: pre;
  overflow: hidden;
  max-width: 100%;
  color: var(--ok-api-color-on-surface);
  cursor: default;
}