@import '../../assets/themes/styles.css';

*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

html, body {
  overflow: hidden;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--okapi-primary-a0);
  border-bottom: 1px solid var(--okapi-primary-a30);
  height: 29px;
  padding: 0 4px;
  font-size: 11px;
}

.toolbar-tab-list {
  display: flex;
  height: 100%;
}

.toolbar-tab {
  background-color: var(--okapi-primary-a0);
  border: none;
  padding: 0 12px;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  transition: background 0.1s;
  font-size: 0.7rem;
}

.toolbar-tab:hover {
  background-color: var(--okapi-primary-a30);
}

.toolbar-tab.active {
  color: var(--okapi-info-a0);
  border-bottom: 2px solid var(--okapi-info-a0);
}

.toolbar-options {
  display: flex;
  align-items: center;
  gap: 2px;
}

.toolbar-options .checkbox-wrapper {
  margin-bottom: 0;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  padding: 0.25rem;
  background-color: transparent;
}

.toolbar-options .checkbox-wrapper label {
  background-color: transparent;
  font-size: 0.7rem;
}

.toolbar-options .checkbox-wrapper input {
  width: 16px;
  height: 16px;
  border: 2px solid var(--okapi-text);
}

.toolbar-options .checkbox-wrapper:hover {
  background-color: var(--okapi-primary-a30);
}

.toolbar-info,
#engine-label {
  font-size: 0.7rem;
}

#resize-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: calc(100vh - (29px * 3));
}

#resize-container .pane {
  display: flex;
  flex-direction: column;
  flex: 0.5 1 0;
  overflow-y: auto;
  min-height: 50px;
}

#resize-bar {
  background-color: var(--okapi-primary-a30);
  cursor: row-resize;
  width: 100%;
  height: 3px;
  user-select: none;
}

#network-view-pane {
  display: grid;
  grid-template-columns: 52px 52px  1fr; 
  grid-auto-rows: 36px;
}

#mock-view-pane {
  display: grid;
  grid-template-columns: 52px 52px  1fr; 
  grid-template-rows: 42px;
  grid-auto-rows: 36px;
}

#network-view-pane .empty-hint {
  grid-column: 1/-1;
}

.request-row,
.mock-row {
  display: grid;
  grid-column: span 3;
  grid-template-columns: subgrid;
  align-items: center;
  padding: 5px 8px;
  cursor: pointer;
}

.mock-row.add-mock button {
  margin-top: auto;
  border-radius: 0.5rem;
  border-color: transparent;
}

.mock-row.add-mock button:focus,
.mock-row.add-mock button:focus-visible {
  outline: none;
  box-shadow: none;
  border: 2px solid var(--okapi-focus);
}

.mock-row.add-mock .input-container {
  grid-column: span 2;
}

.mock-row.add-mock .input-container {
  margin-left: 0.5rem;
}
.mock-row.add-mock input {
  margin-bottom: 0;
}
.mock-row.add-mock #hint {
  font-size: 0.7rem;
  font-style: italic;
  font-weight: lighter;
  cursor: text;
}

.request-row:nth-child(even),
.mock-row:nth-child(even) {
  background: var(--okapi-primary-a20)
}

.request-row:hover,
.mock-row:hover { 
  background: var(--okapi-primary-a30);
}

.mock-row.add-mock:hover {
  background: transparent;
}
.request-row.active,
.mock-row.active { 
  background: var(--okapi-primary-a30);
}

.request-row.overridden { border-left: 3px solid var(--okapi-info-a0); }

.row-method {
  font-size: 11px;
  font-weight: 700;
  color: var(--okapi-success-a0);
  text-align: center;
}
.row-status { font-size: 11px; text-align: center; }
.row-url { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: var(--text); }
.status-error { color: var(--okapi-error-a0); }

.empty-hint {
  padding: 20px;
  text-align: center;
}

.pane-detail {
  display: flex;
  flex-direction: column;
}

.detail-placeholder {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.detail-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.detail-meta {
  padding: 6px 10px;
  /* background: var(--bg-panel);
  border-bottom: 1px solid var(--border); */
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.detail-meta .url    { word-break: break-all; }
.detail-meta .status { color: var(--okapi-info-a0); }

.tabs {
  display: flex;
  /* border-bottom: 1px solid var(--border);
  background: var(--bg-panel); */
}
.tab {
  padding: 5px 14px;
  border: none;
  border-bottom: 2px solid transparent;
  background: none;
  cursor: pointer;
  font-size: 12px;
}
.tab.active {
  color: var(--okapi-primary-a30);
  border-bottom-color: var(--okapi-info-a0);
}

.tab-body { flex: 1; overflow: auto; }

#editor-body {
  width: 100%;
  height: 100%;
  min-height: 200px;
  border: none;
  padding: 10px;
  font-size: 12px;
  resize: none;
  outline: none;
}

#view-request-body,
#view-headers {
  padding: 10px;
  font-size: 12px;
  white-space: pre-wrap;
  word-break: break-word;
}

.detail-actions {
  display: flex;
  gap: 8px;
  padding: 8px 10px;
  /* background: var(--bg-panel);
  border-top: 1px solid var(--border); */
}
.detail-actions button {
  padding: 4px 14px;
  /* border-radius: var(--radius);
  border: 1px solid var(--border);
  background: var(--bg-row);
  color: var(--text); */
  cursor: pointer;
  font-size: 12px;
}
/* .detail-actions button:first-child { background: #2d3b5a; color: var(--accent); }
.detail-actions button:hover { background: var(--bg-row-hover); } */

.hidden { display: none !important; }