.btn {
    cursor: pointer;
    border-radius: 0.35rem;
    border: 1px solid #aaa;
    background-color: #fff;
    margin: 0.5rem;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 1.5rem;
    color: #000;
}