/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

// odd behavior with margin, padding, width, and height that i cannot identify
// max width is 800px (chrome wont let the popup go bigger than that
// current values are good enough and issue will probably be resolved
//      when rebuilding UI.
html,
body {
    display: block;
    max-width: 100%;
    width: 775px;
    max-height: 100%;
}

// hiding the scrollbar because it sucks
// will still scroll
html::-webkit-scrollbar {
    display: none;
}